/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v10/w8gdH283Tvk__Lua32TysjIfp8uK.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Varela Round", sans-serif;
  font-size: 1rem;
  background-color: #26393d;
  color: #e8e595;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.2;
  width: 98%;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #080c0d;
}
.container {
  max-width: 1000px;
  width: 98%;
  margin: 0 auto;
  background-color: #26393d;
}
header {
  width: 100%;
  margin: 0 auto;
}
.main-content {
  width: 100%;
  margin: 0 auto;
  background-color: #26393d;
}
.nav {
  margin: 5px 0 2.5px 0;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
}
.side-nav {
  width: 175px;
  display: flex;
  flex-direction: column;
}
#palette-yellow,
#palette-blue {
  position: relative;
  bottom: 1px;
  right: 1px;
  border: none;
  width: 32px;
  height: 32px;
}
#palette-blue {
  display: none;
}
.logo {
  background-color: #40627c;
  color: #e8e595;
  cursor: pointer;
  border: 1px solid #080c0d;
  border-radius: 6px;
  background-color: white;
  margin: 2.5px 0;
  font-size: 65px;
  padding: 10px 0 3px 17px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.logo:hover {
  background-color: #e8e595;
  color: #40627c;
}
@media (min-width: 550px) {
  .logo {
    background-color: lightgrey;
  }
}
@media (min-width: 800px) {
  .logo {
    background-color: grey;
  }
}
@media (min-width: 1000px) {
  .logo {
    background-color: darkslategrey;
  }
}
.nav-link {
  background-color: #40627c;
  color: #e8e595;
  cursor: pointer;
  border: 1px solid #080c0d;
  border-radius: 6px;
  margin: 2.5px 0 2.5px 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
  padding-top: 3px;
  height: 50%;
}
.nav-link:hover {
  background-color: #e8e595;
  color: #40627c;
}
footer .footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #40627c;
  border-radius: 6px;
  border: 1px solid #080c0d;
  margin: 5px 0;
}
footer p {
  color: #bdba79;
  margin: 20px 0;
  display: flex;
  width: auto;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.slide-div {
  display: block;
}
.slide-img {
  display: none;
}
.slide-img-active {
  display: block;
}
.CTA {
  width: 90%;
  height: 21%;
  position: absolute;
  bottom: 7%;
  right: 0;
  border-radius: 6px 0 0 6px;
  border: 1px solid #080c0d;
}
@media (min-width: 550px) {
  .CTA {
    border-width: 2px;
  }
}
.CTA-background {
  background-color: #fffca3;
  opacity: 0.85;
}
.CTA-foreground {
  padding: 1.5% 0 1% 2%;
  color: #080c0d;
}
.CTA-foreground p {
  font-size: 4.75vw;
  text-align: left;
}
@media (min-width: 1000px) {
  .CTA-foreground p {
    font-size: 49px;
  }
}
#CTA-btn {
  background-color: #40627c;
  color: #e8e595;
  cursor: pointer;
  border: 1px solid #080c0d;
  border-radius: 6px;
  margin: 1% 0;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  text-align: center;
  width: 35%;
  height: 33%;
}
#CTA-btn:hover {
  background-color: #e8e595;
  color: #40627c;
}
@media (min-width: 550px) {
  #CTA-btn {
    border-width: 2px;
  }
}
@media (min-width: 1000px) {
  #CTA-btn {
    font-size: 53px;
  }
}
h2 {
  align-self: left;
}
p {
  text-align: justify;
  text-justify: inter-word;
}
.features-container {
  width: 100%;
  border-radius: 6px;
}
.features-tabs {
  display: flex;
  font-size: 1.6rem;
}
@media (min-width: 800px) {
  .features-tabs {
    display: flex;
    justify-content: space-between;
  }
}
.tab-spacer {
  display: flex;
  position: relative;
  width: 33%;
  top: 1px;
  display: block;
}
.feature-tab {
  position: relative;
  cursor: pointer;
  font-family: "Varela Round", sans-serif;
  background-color: #40627c;
  color: #bdba79;
  padding: 8px 10px 6px 10px;
  margin: 5px 5px 0 0;
  border-radius: 6px 6px 0 0;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #080c0d;
}
@media (min-width: 800px) {
  .feature-tab {
    margin: 5px 0 0 0;
    cursor: default;
    background-color: #679ec7;
    color: #fffca3;
  }
}
.features-cards {
  background-color: #263b4a;
}
@media (min-width: 800px) {
  .features-cards {
    display: flex;
    justify-content: space-between;
  }
}
.feature-card {
  display: none;
  padding: 5px;
  font-family: "Varela Round", sans-serif;
  background-color: #679ec7;
  color: #e8e595;
  border-radius: 0 6px 6px 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #080c0d;
}
@media (min-width: 800px) {
  .feature-card {
    border-radius: 0 0 6px 6px;
    display: block;
    width: 33%;
  }
}
.feature-image {
  opacity: 0;
}
@media (min-width: 800px) {
  .feature-image {
    opacity: 1;
  }
}
