// Global Styles

// Fonts
@import url("https://fonts.googleapis.com/css?family=Varela+Round");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  // Check breakpoints:
  // @media @tablet {
  //   background-color: lemonchiffon;
  // }
  // @media @desktop {
  //   background-color: coral;
  // }
}

body {
  font-family: "Varela Round", sans-serif;
  font-size: 1rem;
  background-color: white;
  color: @yellow;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.2;
  width: 98%;
}

a {
  .link-styles;
}

img {
  width: 100%;
  border-radius: 6px;
  border: 1px solid @greyShade;
}

.container {
  max-width: 1000px;
  width: 98%;
  margin: 0 auto;
  background-color: white;
  //margin-top: 103px; // fixed nav - not ideal, since a change in nav height would require a change here
}

header {
  width: 100%;
  margin: 0 auto;
}

.main-content {
  width: 100%;
  margin: 0 auto;
  background-color: @grey;
}
