// Global Styles

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  // Check breakpoints:
  // @media @tablet {
  //   background-color: lemonchiffon;
  // }
  // @media @mobile {
  //   background-color: coral;
  // }
}

html,
body {
  //font-family:;
  //color:;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

h1 {
  //font-size: rem;
}

h2 {
  //font-size: rem;
}

h3 {
  //font-size: rem;
}

p {
  //font-size: rem;
  //line-height: 1;
}

// .<main div name here> {
//   max-width: 800px;
//   width: 100%;
//   margin: 0 auto;
//   //margin-top: 103px; // fixed nav - not ideal, since a change in nav height would require a change here
// }

header {
  //max-width: px;
  width: 100%;
  margin: 0 auto;
}
