// header styles

nav {
  .flex-sb;
}

.side-nav {
  display: flex;
  flex-direction: column;
}

// link buttons:
.logo {
  .button-styler(@blue, @yellow);
  font-size: 2rem;
}

.nav-link {
  .button-styler(@blue, @yellow);
  font-size: 2.25rem;
  height: 50%;
  text-align: center;
  width: 100%;
}
