// index.html styles

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-1 {
  position: relative;
  border: @rtb;
}

.welcome-text {
  margin: 10px 0 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-text-1 {
  border: @rtb;
  position: absolute;
  bottom: 0;
  left: 0;
}

h2 {
  align-self: left;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.tabs {
  display: flex;
}
