// index.html styles

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.variety {
  display: flex;
  flex-direction: column;
  align-items: center;
}
