// index.html styles

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //align-items: center;
  border-radius: 6px;
}

.hero-container {
  width: 100%;
  margin: 0 auto;
  background-color: @grey;
}

.hero {
  border: @rtb;
  position: absolute;
  height: 100%;
  width: 100%;
}

.slide-div {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.slide-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

// Slides
.slide-img.slide01 {
  background: url(../img/image1.jpg) no-repeat bottom center;
  background-size: cover;
}
.slide-img.slide02 {
  background: url(../img/image2.jpg) no-repeat bottom center;
  background-size: cover;
}
.slide-img.slide03 {
  background: url(../img/image3.jpg) no-repeat bottom center;
  background-size: cover;
}
.slide-img.slide04 {
  background: url(../img/image4.jpg) no-repeat bottom center;
  background-size: cover;
}
.slide-img.slide05 {
  background: url(../img/image5.jpg) no-repeat bottom center;
  background-size: cover;
}
.slide-img.slide06 {
  background: url(../img/image6.jpg) no-repeat bottom center;
  background-size: cover;
}

.CTA {
  width: 90%;
  height: 21%;
  position: absolute;
  bottom: 7%;
  right: 0;
  border-radius: 6px 0 0 6px;
  border: 1px solid @greyShade;
  @media @tablet {
    border-width: 2px;
  }
}

.CTA-background {
  background-color: @yellowTint;
  opacity: 0.85;
}
.CTA-foreground {
  padding: 1.5% 0 1% 2%;
  color: @greyShade;
  p {
    font-size: 4.75vw;
    text-align: left;
    // Stops width-based elements (vw units) from scaling past 1000px screensize
    @media @fullsize {
      font-size: 49px;
    }
  }
}

#CTA-btn {
  .button-styler(@blue, @yellow);
  margin: 1% 0;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  text-align: center;
  width: 35%;
  height: 33%;
  @media @tablet {
    border-width: 2px;
  }
  // Stops width-based elements (vw units) from scaling past 1000px screensize
  @media @fullsize {
    font-size: 53px;
  }
}

h2 {
  align-self: left;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.features-container {
  width: 100%;
  border-radius: 6px;
}

.features-tabs {
  display: flex;
  font-size: 1.9rem;
  @media @desktop {
    .flex-sb;
  }
}

.tab-spacer {
  display: flex;
  position: relative;
  width: 33%;
  top: 1px;
  display: block;
}

.feature-tab {
  position: relative;
  cursor: pointer;
  font-family: "Varela Round", sans-serif;
  background-color: @blue;
  color: @yellowShade;
  padding: 8px 10px 6px 10px;
  margin: 5px 5px 0 0;
  // (1 of 2) Outlines tab and card together so they look like one object.
  border-radius: 6px 6px 0 0;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: @greyShade;
  @media @desktop {
    margin: 5px 0 0 0;
    cursor: default;
    background-color: @blueTint;
    color: @yellowTint;
  }
}

.features-cards {
  background-color: @blueShade;
  @media @desktop {
    .flex-sb;
  }
}

.feature-card {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  font-family: "Varela Round", sans-serif;
  background-color: @blueTint;
  color: @yellow;
  // (2 of 2) Outlines tab and card together so they look like one object.
  border-radius: 0 6px 6px 6px;
  border-width: 1px;
  border-style: solid;
  border-color: @greyShade;
  .feature-card-text {
    margin: 3px 3px 5px 3px;
    span {
      color: @blueShade;
      font-size: 1.7rem;
    }
  }
  @media @desktop {
    border-radius: 0 0 6px 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
  }
}

.feature-image {
  // Allows for the fade-in effect of the active feature image
  opacity: 0;
  @media @desktop {
    opacity: 1;
  }
}
