// Variables

// Colors
@yellow: #e8e595;
@yellowTint: #fffca3;
@yellowShade: #bdba79;

@blue: #40627c;
@blueTint: #679ec7;
@blueShade: #263b4a;

@grey: #26393d;
@greyTint: #527c85;
@greyShade: #080c0d;

// @media
// @tablet: ~"(max-width: ???px)"
@mobile: ~"(max-width: 500px)";

// Utility
@rtb: 2px dashed red; // red test border
